<!-- Who are we container start -->
<div class="container-fluid bg-2">
  <!-- Top background image container -->
</div>
<!-- Main paragraph container -->
<div class="container-fluid who mb-5">
  <div class="row">
    <div class="col-sm-12 col-lg-6 col1">
      <div class="content">
        <h1 class="font-weight-bold"> <span class="text-secondary">WHO</span> ARE WE? </h1>
        <div class="line"></div>
        <h4>We are a passionate experienced team of professionals
          that create innovative applications.</h4>
        <p class="py-3">
          We are a team of more than 10 individuals based on different locations and cooperate on weekly Skype meetings by learning and helping each other to create outstanding web applications.
        </p>
        <a routerLink="/about">
          <button class="btn btn-custom px-5 ml-8 font-weight-bold">Read More</button>
        </a>
      </div>
    </div>
    <!-- Right image container -->
    <div class="col-lg-6">
      <img src="assets/img/left.png">
    </div>
  </div>
</div>
<!-- Who are we container end -->
