<!-- What we do and our work background wrapper start -->
<div class="container-fluid text-center bg-3">

  <!-- What we do heading start -->
  <div class="heading my-5">
    <h3 class="font-weight-bold"><span class="text-secondary">WHAT</span> WE DO?</h3>
    <hr class="line mx-auto" style="width:4rem; ">
  </div>
  <!-- What we do heading end -->

  <!-- What we do card container start -->
  <div class="container mb-5">
    <div class="row mb-5">
      <div class="col-md-4">
        <div class="card mr-5 mt-1">
          <img class="card-img-top rounded-circle" width="80px" src="assets/img/icon.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text text-left">
              We create innovative web apps
              from scratch by using Angular 7
              for our Front-End and PHP with
              Laravel for Back-End.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mr-5 mt-1">
          <img class="card-img-top rounded-circle" width="80px" src="assets/img/icon2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">UI / UX Design</h5>
            <p class="card-text text-left">
              We use Photoshop and Adobe
              XD to bring to life our ideas by
              designing the Wireframes and
              Prototypes before progressing
              to coding.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mr-5 mt-1">
          <img class="card-img-top rounded-circle" width="80px" src="assets/img/icon3.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Responsive Design</h5>
            <p class="card-text text-left">
              We use Bootstrap and best
              CSS techniques to create web
              applications that respond to any
              modern device's browser.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- What we do card container end -->

  <!-- Our work button container start -->
  <h3 class="font-weight-bold text-center text-light mt-5"><span class="text-custom">OUR</span> WORKS</h3>
  <hr class="line mx-auto" style="width:4rem; ">
  <div class="container-fluid py-5 text-custom font-weight-bold">
    <!-- TODO: Change into buttons to filter projects -->
    <span class="activetab px-5">All</span>
    <span class="tab">Recent</span>
    <span class="tab">On going</span>
  </div>
  <!-- Our work button container end -->

</div>
<!-- What we do and our work background wrapper end -->

<!-- Our work profolio images start -->
<div class="container-fluid workimages">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <img src="assets/img/work2.png">
    </div>
    <div class="col-sm-12 col-md-4">
      <img src="assets/img/work.png">
    </div>
    <div class="col-sm-12 col-md-4">
      <img src="assets/img/work3.png">
    </div>
  </div>
</div>
<!-- Our work profolio images end -->
