<!-- Top container start -->
<div class="container-fluid top-container bg1">

  <div class="card card1 text-black bg-secondary py-2">
    <div class="card-body">
      <h5 class="card-title text-center">Welcome</h5>
      <p class="card-text pl-2">
        This is the Web Development's team website of AMNICK Social Enterprise. AMNICK is creating e-work experience programs to make everyone more employable.
      </p>
      <div class="text-center">
        <a routerLink="/about" class="btn btn-custom px-5">Learn More</a>
      </div>
    </div>
  </div>

  <div class="arrow-container">
    <!-- On click scroll to the element with class bg-2 -->
    <button class="btn btn-arrow" (click)="scrollIntoView('.bg-2')">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>

</div>
<!-- Top container end -->
