<!-- Top container start -->
<div class="container-fluid flex flex-items-center top-container bg1">

  <div class="card card1 text-black bg-secondary py-2">
    <div class="card-body">
      <h5 class="card-title text-center">Welcome</h5>
      <p class="card-text pl-2">
        This is the Web Development's team website of AMNICK Social Enterprise. AMNICK is creating e-work experience programs to make everyone more employable.
      </p>
      <a routerLink="/about">
        <button class="btn btn-custom px-5 ml-8">Learn More</button>
      </a>
    </div>
  </div>

  <div class="arrow-container">
    <!-- TODO: Add a function that will scroll to next section -->
    <button class="btn btn-arrow">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>

</div>
<!-- Top container end -->
