<!-- Our team section start -->
<div class="container-fluid text-center bg-4 py-5">
  <div class="heading">
    <h3 class="font-weight-bold text-light"><span class="text-custom">OUR</span> Team</h3>
    <hr class="line mx-auto" style="width:4rem; ">
  </div>

  <!-- Our team container start -->
  <div class="container mb-5">

    <!-- Our team cards container start -->
    <div class="row mb-5">
      <!-- TODO: Display with *ngFor when the database is made -->
      <div class="col-md-4">
        <!-- Team member 1 card container start -->
        <div class="card mr-5 mt-1">
          <!-- Team member image -->
          <img class="card-img-top rounded-circle" width="80px" src="assets/img/ellipse.png" alt="Card image cap">
          <!-- Team member details -->
          <div class="card-body">
            <!-- Team member name -->
            <h5 class="card-title">JOHN DOE</h5>
            <!-- Team member occupation -->
            <p class="card-text">Web Developer</p>
            <!-- Team member email -->
            <p class="card-text font-weight-bold text-custom1">johndoe@gmail.com</p>
            <!-- Team member social links -->
            <div class="social">
              <!-- TODO: Change with links -->
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
        <!-- Team member 1 card container end -->
      </div>
      <div class="col-md-4">
        <div class="card mr-5 mt-1">
          <img class="card-img-top rounded-circle" width="80px" src="assets/img/ellipse.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">JOHN DOE</h5>
            <p class="card-text">Web Developer</p>
            <p class="card-text font-weight-bold text-custom1">johndoe@gmail.com</p>
            <div class="social">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mr-5 mt-1">
          <img class="card-img-top rounded-circle" width="80px" src="assets/img/ellipse.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">JOHN DOE</h5>
            <p class="card-text">Web Developer</p>
            <p class="card-text font-weight-bold text-custom1">johndoe@gmail.com</p>
            <div class="social">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Our team cards container end -->

    <!-- TODO: Change with the meet the team page when is made -->
    <a routerLink="/about">
      <button class="btn btn-custom px-5 mr-5">View all the team</button>
    </a>
  </div>
  <!-- Our team container end -->

</div>
<!-- Our team section end -->
