


<!-- Footer container start -->
<div class="container-fluid" >
  <div class="row py-5">
    <div class="col-sm-3 col-lg-2 offset-lg-2 text-light">
      <img class="ml-4" src="assets/img/Logo.png">
      <p>&copy; Amnick 2019</p>
      <!-- I don't understand why the copyright is located at the top of the footer? -->
    </div>

    <div class="col-sm-3 col-lg-2  text-light line-height pt-2">
 
      <!-- TODO: Convert to links -->
      <p><a href="about-page.html">About Us</a></p>
      <p><a href="contact-page.html">Contact</a></p>

      <!-- PB: Is there an actual link for this section "Working for Amnick"? -->
      <p>Working for Amnick</p>
    </div>

    <div class="col-sm-3 col-lg-2 text-light line-height pt-2">
      <!-- TODO: Convert to links and add same padding on all icons -->

      <a href="https://www.facebook.com/amnicksocialenterprise1/" ><i class="fab fa-facebook-f mr-2 fa-2x"></i></a>
      <a href="https://twitter.com/amnickse?lang=en-gb"><i class="fab fa-twitter mr-2 fa-2x"></i></a>
      <a href="https://www.linkedin.com/company/amnick/about/"><i class="fab fa-linkedin mr-2 fa-2x"></i></a>
    </div>
 

    <div class="col-sm-3 col-lg-3 text-light line-height pt-2">
      <p>Currently looking for new office.</p>
      <p>+44 7886 837 410</p>
      <p>info@amnick.com</p>
    </div>

  </div>
 
</div>
<!-- Footer container end -->

