<!-- Footer container start -->
<div class="container-fluid" style="background:#333333;">
  <div class="row py-5">
    <div class="col-sm-3 col-lg-2 offset-lg-2 text-light">
      <img class="ml-4" src="assets/img/Logo.png">
      <p>&copy; Amnick 2018</p>
    </div>

    <div class="col-sm-3 col-lg-2  text-light line-height pt-2">
      <!-- TODO: Convert to links -->
      <p>About Us</p>
      <p>Contact</p>
      <p>Working for Amnick</p>
    </div>

    <div class="col-sm-3 col-lg-2 text-light line-height pt-2">
      <!-- TODO: Convert to links and add same padding on all icons -->
      <p><i class="fab fa-facebook-f mr-1"></i> Facebook</p>
      <p><i class="fab fa-twitter mr-1"></i> Twitter</p>
      <p><i class="fab fa-linkedin-in mr-1"></i> LinkedIn</p>
    </div>

    <div class="col-sm-3 col-lg-3 text-light line-height pt-2">
      <p>Currently looking for new office.</p>
      <p>+44 7886 837 410</p>
      <p>info@amnick.com</p>
    </div>

  </div>
</div>
<!-- Footer container end -->
