/* style color for block elements */
h1,
h3,
h5,
label,
input,
::placeholder {
  color: #5A568D;
}

/* style border for all input fields */
.input-enter {
  border: 2px solid #5A568D;
}

/* style color button */
.btn {
  background: #5A568D !important;
}

/* style margin for address */
.address {
  margin-top: 120px;
}

/* style error messages */
.error {
  color: red;
}

/* style success message */
.success {
  color: green
}
