/* General tags styles */
*{
  margin:0;
  padding: 0;
}
body{
  /* font: 500 1.2em/1.5 'Montserrat', sans-serif; */
  font: 400 1em/1.3 'Roboto', sans-serif;
  background: #EEEEEE;
  color: #333 !important;
}

/* Margin styles */
.ml-6{
  margin-left:10%;
}
.ml-7{
  margin-left:15%;
}
.ml-8{
  margin-left:20%;
}
.my-10{
  margin-top:150px;
}

/* Main background color */
.bg-grey{
  background:#EEEEEE;
}

/* Custom font size */
.custom-font{
  font-size:28px;
}

/* Custom text colors */
.text-custom{
  color:#999999;
}
.text-custom1{
  color: #666666;
}
.custom-color{
  color:#4D4B86;
}

/* Custom button styles */
.btn-custom{
  background: #4D4B86;
  color: white;
  font-weight: 600;
}

/* Headings bottom line */
.line{
  width:80px;
  background: #999999;
  border: 3px solid #999999;
  border-radius: 20px;
  margin-top:30px;
  margin-bottom: 50px;
  margin-left:5px;
}

.col img{
  width: 100%;
  height: 550px;
}

/* Card top image styles */
.card-img-top {
  width:50%;
  margin:20px auto;
}

@media(max-width:550px){
  .news{
      display: block;
      margin-left:10px;
  }
}
